.footer-wrapper{
    width:100%;
}
footer{
    max-width:1200px;
}
.information-footer{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    background-color: #011A41;
    color:white;
    padding-left:78px;
    padding-right:74px;
    padding-top:57px;
    padding-bottom:85px;
}
.information-column-one{
    display: flex;
    flex-direction: column;
    gap:6px;
}
.column-one-address{
    display:flex;
    gap:11px;
    align-items: center;
}
.column-one-phone{
    display:flex;
    gap:5px;
    align-items: center;
}
.column-one-email{
    display:flex;
    gap:7px;
    align-items: center;
}
.social-icons-footer{
    display:flex;
    gap:15px;
    padding-top:10px;
}
.information-column-two{
    display:flex;
    flex-direction:column;
    gap:8px;
}
.column-two-row{
    display:flex;
    gap:5px;
    align-items: center;
}
.information-column-three{
    display:flex;
    flex-direction:column;
    gap:8px;
}
.column-three-row{
    display:flex;
    gap:5px;
    align-items: center;
}
.information-column-four{
    display:flex;
    flex-direction: column;
    gap:11px;
}
.information-footer h4{
    font-size:20px;
}
.copyright-footer{
    background-color:#000;
    color:white;
    display:flex;
    justify-content: space-between;
    padding-left:71px;
    padding-right:79px;
    padding-top:30px;
    padding-bottom:35px;
}

