.statistics{
    width:100%;
    padding-top:45px;
}
.statistics-wrapper{
    padding-left: 30px;
    padding-right:30px;
    padding-top:45px;
    padding-bottom:45px;
    align-items: center;
    grid-column-gap: 5px;
    display: grid;
    grid-template-columns:repeat(4, 1fr);
    max-width: 1200px;
    background-color: #355EFC;
}
.statistics-column{
    gap: 12px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.statistics-text-wrapper{
    color:white;
    display:flex;
    gap:12px;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.number-text{
    font-size:52px;
    line-height:67px;
    font-weight:700;
}
.about-last{
    display:grid;
    grid-template-columns: repeat(3,1fr);
}

@media only screen and (max-width: 414px) {

    .statistics-wrapper{
        max-width: 414px;
        padding: 30px 15px;
    }
    .statistics-column{
        gap:2px;
    }
    .statistics svg{
        width:35px;
    }
    .statistics-text-wrapper{
        gap:2px;
        display: flex;
        align-items: center;
    }
    .number-text{
        font-size:24px;
    }
    .statistics-description{
        font-size:8px;
        display: flex;
        align-items: center;
    }

}