.our-services{
    width:100%;
}
.our-services-wrapper{
    max-width: 100%;
    padding-top: 28px;
    padding-left: 72px;
    padding-right:72px;
    padding-bottom:85px;
}
.services-header{
    font-size:28px;
    width:500px;
    text-align: center;
}
.services-button-header{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap:22px;
}
.services-main{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}
.all-services-tab{
    display: flex;
    flex-direction: column;
    gap:35px;
    padding-top: 57px;
    margin-right:16px;
}
.financial-tab-blue{
    display: flex;
    flex-direction: row;
    background-color: #355EFC;
    padding: 10px 16px;
    justify-content:flex-start;
    align-items: center;
    gap: 15px;
    align-self: stretch;
    border-radius: 10px;
    color:white;
    flex:1 0 0;
}
.financial-tab-blue p{
    font-size: 20px;
}
.financial-tab-white p{
    font-size: 20px;
}
.financial-tab-white{
    display: flex;
    padding: 10px 16px;
    justify-content:flex-start;
    align-items: center;
    gap: 15px;
    flex:1 0 0;
    align-self: stretch;
    border-radius: 10px;
    color:black;
    border:1px solid #909DE2;
}
.tab-image{
    padding-top:64px;
    margin-right:23px;
}
.tab-right{
    display: flex;
    flex-direction: column;
    gap:32px;
    padding-top:64px;
}
.tab-right-header{
    font-size:26px;
    font-family: 'Jost', sans-serif;
    font-weight: 300;
    font-style: normal;

}
.tab-right-p{
    font-size:16px;
    color:#555;
    line-height: 24px;
    display: flex;
    align-self: stretch;
    flex-shrink: 0;
    flex:1 0 0;
}
.tab-right-advice{
    display: flex;
    flex-direction: column;
    gap:17px;
}
.advice-column{
    display:flex;
    flex-direction: row;
    gap:10px;
}


@media only screen and (max-width:414px){
    .our-services-wrapper{
        max-width: 414px;
        padding-right: 15px;
        padding-left: 15px;
        padding-bottom: 50px;
    }
    .services-header{
        font-size: 20px;
        width:370px;
    }
    .services-main{
        display:grid;
        grid-template-columns: 1fr 1fr;
    }
    .financial-tab-blue{
        flex:0 0 0;
    }
    .financial-tab-white{
        flex:0 0 0;
    }
    .financial-tab-blue p{
        font-size: 8px;
    }
    .financial-tab-white p{
        font-size: 8px;
    }
    .financial-tab-blue svg{
        width:10px;
    }
    .financial-tab-white svg{
        width:10px;
    }
    .tab-image{
        width:250px;
        height:280px;
        margin-right: 0;
    }
    .tab-image img{
        width:250px;
        height: 280px;
    }
    .tab-right{
        grid-column: span 2;
        gap:17px;
    }
    .tab-right-header{
        font-size: 18px;
        text-align: center;
    }
    .tab-right p{
        text-align: justify;
    }
}

@media only screen and (min-width:415px) and (max-width:768px){
    .our-services-wrapper{
        max-width: 768px;
        padding-right: 25px;
        padding-left: 25px;
        padding-bottom: 50px;
    }
    .services-main{
        display:grid;
        grid-template-columns: repeat(2,1fr);
    }
    .all-services-tab{
        width:35vw;
        gap:20px;
        height:38vh;
        align-self: center;
    }
    .financial-tab-blue{
        font-size: 8px;
        gap:7px;
    }
    .financial-tab-white{
        gap:7px;
    }
    .financial-tab-white p{
        font-size:0.6rem;
    }
    .financial-tab-blue p{
        font-size: 0.6rem;
    }
    .financial-tab-blue svg{
        width:10px;
    }
    .financial-tab-white svg{
        width:10px;
    }
    
    .tab-right{
        grid-column: span 2;
        gap:17px;
        width:80vw;
    }


}

@media only screen and (min-width:769px) and (max-width:1000px){

    .our-services-wrapper{
        max-width:1000px;
        padding-right: 45px;
        padding-left: 45px;
        padding-bottom: 50px;
    }
    .services-main{
        display:grid;
        grid-template-columns: 1fr 1fr;
    }
    .financial-tab-blue p{
        font-size: 14px;
    }
    .financial-tab-white p{
        font-size: 14px;
    }
    .tab-right{
        grid-column: span 2;
        gap:17px;
    }

}


