.about-content{
    width:100%;
}
.about-content-wrapper{
    display: grid;
    grid-template-columns: auto 1fr;
    padding-left: 72px;
    padding-right: 36px;
    max-width: 1200px;
}
.image-container{
    width: 559px;
    height:601px ;
    display:flex;
    flex-direction: row;
}
.image-container img{
    object-fit: contain;
    transform: translate(-26px,-26px);
}
.about-right-wrapper{
    display: flex;
    gap:19px;
    height:372px ;
    flex-direction: column;
    margin-top:40px;
    align-items: flex-start;
    box-sizing: border-box;
}
.h2-about{
    align-self: stretch;
    font-size: 44px;
    color:#011A41;
    flex:1;
    max-width: 100%;
}
.about-header{
    display: flex;
    box-sizing: border-box;
}
.about-p {
    font-size: 16px;
    line-height:24px;
    color:#555;
}

.tab{
    display:flex;
    heigth:176px;
}
.tab button{
  background-color: inherit;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 14px 16px;
  transition: 0.3s;
  font-size: 17px;
  border-bottom:2px solid #DEE2E6;
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
  display:flex;
  color:#555;
}
.tab button:hover{
    background-color: #ffffff;
    border-bottom: none;
    border-top:2px solid #DEE2E6;
    border-left:2px solid #DEE2E6;
    border-right:2px solid #DEE2E6;
    
}
.tabcontent{
    display:flex;
    border:none;
    padding-right:28px;
    -webkit-animation: fadeEffect 1s;
    animation: fadeEffect 1s;
    color:#555;
}
@-webkit-keyframes fadeEfffect {
    from {opacity:0;}
    to {opacity:1;}
}
@keyframes fadeEffect{
    from {opacity:0;}
    to {opacity:1;}
}


@media only screen and (max-width: 414px) {
    .classic-button{
        font-size: 0.6rem;
    }
    .classic-button-blue{
        font-size: 10px;
    }
    .about-content-wrapper{
        max-width: 414px;
        padding-left: 15px;
        padding-right: 15px;
        grid-column-gap: 10px;
    }
    .image-container{
        width:200px;
        height: 230px;
    }
    .image-container img{
        transform:translateX(-10px);
        width:220px;
        height:auto;
    }
    .about-right-wrapper{
        align-items:left;
        width:180px;
        height:auto;
        margin-top: 25px;
        gap:12px;
    }
    .about-header{
        width:160px;
    }
    .about-header h2{
        font-size: 0.8rem;
    }
    .about-p{
        font-size: 10px;
        width: 180px;
        text-align:left;
        line-height: 18px;
    }
    .tab{
        transform: translateX(-115px) translateY(13.5px);
    }
    .tab button{
        font-size:10px;
    }
    .tabcontent{
        width: 380px;
        transform:translateX(-208px);
        font-size:10px;
        border-radius:5px;
        border:2px solid #DEE2E6;
        border-top:none;
        padding:12px;
    }






}
