.why-choose{
    width:100%;
}
.why-choose-wrapper{
    padding-left: 70px;
    padding-right:80px;
    max-width: 100%;
    display:grid;
    grid-template-columns: repeat(3,1fr);
    grid-column-gap: 10px;
    padding-bottom: 70px;
}
.why-choose-main{
    display: flex;
    flex-direction: column;
    gap:20px;
    padding-top: 140px;
    width:40vw;
}
.classic-button:hover{
    cursor: pointer;
    transform: scale(110%);
    background-color: #355EFC;
    color:white;
}
.why-choose-header-text{
    font-size:1.2rem;
    font-weight: 700;
}
.why-choose-p{
    color:#555;
}
.classic-button-blue:hover{
    cursor: pointer;
    transform: scale(110%);
    background-color: white;
    color:#355EFC;
    box-shadow:0px 0px 4px 0px #355EFC;
}
.fast-executions-two-columns{
    padding-top:47px;
    display:flex;
    align-items: center;
    flex-direction: column;
    gap:24px;
}
.fast-column{
    display: flex;
    padding: 20px;
    flex-direction: column;
    align-items: flex-start;
    gap: 18px;
    flex-shrink: 0;
    border-radius: 15px;
    border: 1px solid var(--Icon-background, #909DE2);
}
.fast-column-last{
    display: flex;
    padding: 20px;
    flex-direction: column;
    align-items: flex-start;
    gap: 18px;
    flex-shrink: 0;
    border-radius: 15px;
    border: 1px solid var(--Icon-background, #909DE2);

}
.fast-read-more{
    display:flex;
    gap:10px;
    color:#355EFC;
    font-size: 14px;
}
.fast-p{
    color:#555;
    font-size: 14px;
}
.fast-p-two{
    font-size: 14px;
}
.jost{
    font-family: 'Jost', sans-serif;
}
.fast-header{
    font-size:20px;
    font-weight: 700;
    font-family: 'Jost',sans-serif;
}
.fast-column-two{
    display: flex;
    padding: 20px;
    flex-direction: column;
    align-items: flex-start;
    gap: 18px;
    flex-shrink: 0;
    border-radius: 15px;
    background-color:#355EFC;
    border: 1px solid var(--Icon-background, #909DE2);
    color:white;
}
.fast-svg-two{
    fill:white;
}
.fast-read-more-two{
    color:white;
    display:flex;
    gap:10px;
    font-size: 14px;
}
.fast-arrow-svg{
    fill:white;
}
.fast-executions-last-column{
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

@media only screen and (max-width: 414px) {
    .why-choose-wrapper{
        max-width: 414px;
        padding:0px 15px;
        display: grid;
        grid-template-columns: 1fr;
    }
    .why-choose-main{
        padding-top: 30px;
        grid-column: span 2;
    }
    .why-choose-header-text{
        width:290px;
        font-size: 14px;
    }
    .why-choose-p{
        width:350px;
        font-size: 10px;
        text-align: justify;
    }
    .fast-executions-two-columns{
        display: flex;
        width:45vw;
        gap:10px;
    }
    .fast-executions-last-column{
       width:45vw;
    }
    .fast-column{
        gap:10px;
    }
    .fast-column-last{
        gap:10px;
        background-color: white;
    }
}


@media only screen and (min-width: 415px) and (max-width: 768px) {
    .why-choose-wrapper{
        max-width: 768px;
        padding:0px 25px;
        display: grid;
        grid-template-columns:repeat(2,1fr);
        grid-column-gap:5px;
    }
    .why-choose-main{
        padding-top: 30px;
        grid-column: span 2;
        width:auto;
    }
    .why-choose-header-text{
        width:70vw;
        font-size: 1.2rem;
    }
    .why-choose-p{
        width:80vw;
        font-size: 0.9rem;
    }
    .fast-executions-two-columns{
        width:45vw;
    }
    .fast-executions-last-column{
        width:45vw;
    }



}
@media only screen and (min-width: 769px) and (max-width: 1000px) {
    .why-choose-wrapper{
        max-width: 1000px;
        padding:0px 45px;
        display: grid;
        grid-template-columns:repeat(2,1fr);
        grid-column-gap:5px;
    }
    .why-choose-main{
        padding-top: 30px;
        grid-column: span 2;
        width:auto;
    }
    .why-choose-header-text{
        width:70vw;
        font-size: 1.2rem;
    }
    .why-choose-p{
        width:80vw;
        font-size: 1.2rem;
    }
    .fast-executions-two-columns{
        width:45vw;
    }
    .fast-executions-last-column{
        width:45vw;
    }



}

