.about-bottom{
    width: 100%;
}
.about-bottom-wrapper{
    padding-top: 20px;
    max-width: 1200px;
}
.about-bottom-service{
    display: flex;
    padding: 20px;
    align-items: flex-start;
    gap: 20px;
    border-radius: 25px;
    border: 1px solid #909DE2;
    margin-top: 46px;
    margin-left: 72px;
    margin-right: 72px;
}
.about-column{
    display: grid;
    grid-template-columns: auto 1fr;
    align-items: stretch;
    grid-column-gap: 13px;
    border-right: 1px solid var(--Icon-background, #909DE2);
}
.about-column-last{
    display: grid;
    grid-template-columns: auto 1fr;
    align-items: stretch;
    grid-column-gap: 13px;
}
.about-svg{
    display: flex;
    flex-direction:row;
}
.text-wrapper-one{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 17px;
    flex: 1 0 0;
    padding-right:29px;
}
.text-wrapper-two{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 17px;
    flex: 1 0 0;
    padding-right:15px;
}
.text-wrapper-three{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 17px;
    flex: 1 0 0;
    padding-right:5px;
}

.top-text{
    display: flex;
    align-items:center;
    font-size: 24px;
}
.clita-text{
    display: flex;
    align-items: last baseline;
    font-size: 16px;
    line-height: 24px;
    color:#555;
}


@media only screen and (max-width: 414px) {
    .about-bottom-wrapper{
        max-width: 414px;
    }
    .about-bottom-service{
        margin-left: 15px;
        margin-right: 15px;
        padding:10px;
        gap:15px;

    }
    .about-column{
        grid-column-gap: 7px;
    }
    .about-column-last{
        grid-column-gap: 7px;
    }
    .about-svg{
        width:22px;
    }
    .text-wrapper-one{
        padding-top: 10px;
        padding-right: 5px;
        gap:10px;
    }
    .top-text{
        font-size: 10px;
    }
    .clita-text{
        font-size: 8px;
        line-height: normal;
    }
    .text-wrapper-two{
        padding-top: 10px;
        padding-right: 5px;
        gap:10px;
    }
    .text-wrapper-three{
        padding-top: 10px;
        padding-right: 5px;
        gap:10px;
    }


}
