.footer-wrapper{
    width:100%;
}
footer{
    max-width:1200px;
}
.information-footer{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    background-color: #011A41;
    color:white;
    padding-left:78px;
    padding-right:74px;
    padding-top:57px;
    padding-bottom:85px;
}
.information-column-one{
    display: flex;
    flex-direction: column;
    gap:6px;
}
.column-one-address{
    display:flex;
    gap:11px;
    align-items: center;
}
.column-one-phone{
    display:flex;
    gap:5px;
    align-items: center;
}
.column-one-email{
    display:flex;
    gap:7px;
    align-items: center;
}
.social-icons-footer{
    display:flex;
    gap:15px;
    padding-top:10px;
}
.logo-svg{
    fill:white;
}
.icon:hover .circle-svg{
    fill: #ffffff;
    cursor: pointer;
}
.icon:hover .logo-svg{
    fill:#011a41;
    cursor: pointer;

}
.information-column-two{
    display:flex;
    flex-direction:column;
    gap:8px;
}
.column-two-row{
    display:flex;
    gap:5px;
    align-items: center;
}
.information-column-three{
    display:flex;
    flex-direction:column;
    gap:8px;
}
.column-three-row{
    display:flex;
    gap:5px;
    align-items: center;
}
.information-column-four{
    display:flex;
    flex-direction: column;
    gap:11px;
}
.information-footer h4{
    font-size:20px;
}
.copyright-footer{
    background-color:#000;
    color:white;
    display:flex;
    justify-content: space-between;
    padding-left:71px;
    padding-right:79px;
    padding-top:30px;
    padding-bottom:35px;
}
.signup-container{
    display:flex;
    align-items: center;
    flex-direction: row;
    position:relative;
}
.signup-container input{
    padding:none;
    font-size: 16px;
}
.signup-container button{
    background-color: #355EFC;
    padding:7px 7px 10px 10px;
    display: flex;
    align-items: center;
    outline:none;
    border:none;
    color:white;
    position:absolute;
    right:12px;
    top:12px;
    border-radius: 5px;
}
.signup-container button:hover{
    background-color: #2141c3;
    cursor: pointer;
}
@media only screen and (max-width:414px){
    footer{
        max-width: 414px;
    }
    .information-footer{
        padding-left: 15px;
        padding-right: 15px;
        grid-template-columns: 1fr 1fr;
        padding-top: 20px;
        grid-row-gap:20px;
        grid-column-gap:15px ;
    }
    .information-column-one{
        grid-column: span 2;
        align-items: flex-start;
        padding-right: 0;
        height: 100px;
    }
    .social-icons-footer{
        gap:5px;
        transform: translateY(-80px) translateX(240px);
    }
    .information-column-two{
        align-items:flex-start;
    }
    .information-column-three{
        align-items:self-end;
    }
    .information-footer p{
        font-size: 10px;
    }
    .information-column-four{
        grid-column:span 2 ;
    }
    .copyright-footer{
        padding:20px 15px;
        font-size: 10px;
        gap:10px;
        flex-direction: column;
    }
}
